@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    background-color: #0B9586;
    padding: 16px 150px 16px 150px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    color: #ffffff;
    z-index: 1000;
}
.nav_logo{
    mix-blend-mode: multiply;
}
nav .nav-list{
    height: 38px;
    display: flex;
    gap: 8px;
    list-style: none;
}
nav .nav-list li{
    padding: 8px 24px 8px 28px;
    font-weight: 400px;
    font-size: 18px;
    letter-spacing: .94px; 
}
nav .nav-list .nav-home{
    background: #0000000F;
    border-radius: 5px;
    border-bottom:3px solid #0000004D;
    height: 38px;
}
.nav_contact {
    color: #FFFFFF;
    text-align: end;
}
.nav_call{
    font-size: 18px;
}
.nav_phone{
    font-size: 24px;
    font-weight: 700px;
    letter-spacing: 0.94px;
}
.menu-icon{
    width: 40px;
    height: 40px;
    display:none;
}
/* /////////////////////hero styles */
.hero-section{
    background-image: url('./Images//solar-panels-meadow\ 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    margin-top: 86px; 
}
.progress-section{
    width:  332.83px;
    height: 24.77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-size:18px ;
    font-weight: 400px;
    margin-top: 69px;
}
.progress-bar{
    width:220.59px;
    border: 3.75px solid #575757;
    position: relative;
}
.inner-progres{
    position: absolute;
    top:-4px;
    left:0;
    bottom: 0;
    width: 89.01px;
    border: 3.75px solid #FFFFFF;
}
.hero-container{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}
.hero-content{
    width: 729px;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #FFFFFF;
}
.hero-title{
    font-size: 52px;
    font-weight: bold;
    letter-spacing: -2%;
    line-height: 100%;
}
.hero-description{
    font-size: 20px;
    font-weight: 600px;
    margin-top: 10px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    gap:24px;
} 
.hero-button-primary{
    width: 173px;
    height: 41px;
    background-color:#3CAB90;
    color: #FFFFFF;
    padding: 12px 34px 12px 34px;
    border-radius: 109px;
    outline: none;
    border: none;
}
.hero-button-secondary{
    width: 208px;
    height: 41px;
    background-color: #FFBB1C;
    color:#2A3334;
    padding: 12px 34px 12px 34px;
    border-radius: 109px;
    outline: none;
    border: none;
}

/* ///////////////////////// about section */
.about-section{
    width:1135.52px;
    margin: auto;
    display: flex;
    gap:23px;
    padding: 80px 0px;
}
.about-left{
    width: 594px;
     display: flex;
    flex-direction: column; 
    gap:24px; 
}
.about-left h2{
    font-size: 42px;
    font-weight: 600;
    color: #101828;
}
.about-left .about-left-desc{
    color: #475467;
    line-height: 24px;
} 
 .about-left-lists{
    color:#101828;
    display: flex;
    flex-direction: column;
    gap:12px;
} 
 .about-list-item{
    font-size: 20px;
    line-height: 30px;
    color:#101828;
    font-weight: 600;
}
.about-list-item span{
    color:#84BD3A;
}
.about-right{
    width: 518.52px;
    position: relative;
}
.about-main-image{
    width: 469px;
  border-radius: 12px;
  margin-left: 49px;
}
.about-card{
    width: 266px;
    height: 208px;
    border-radius: 12px;
    Padding:24px 30px 24px 30px;
    background-color: #FFBB1C;
    display: flex;
    flex-direction: column;
    gap: 28px;
     position:absolute; 
    top:330px;
}
.about-card-image{
    width: 90px;
    height: 90px;
}
/* ///////////////////////// cta section */
.cta-section{
    background-image:url("./Images/CTASection.png");
    height: 505px;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.cta-section .content{
    width: 678px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #ffff;
    margin-left: 150px;
}
.cta-section .title{
    font-size: 40px;
    font-weight: 600;
}
.btn-gold{
    background-color:#FFBB1C ;
}
/* ///////////////////////solarkits section */
.Solarkits-section{
    width: 1140px;
    padding: 80px 0px;  
    margin: auto; 
}
 .header-section{
    width: 936px;
   margin:auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap:24px;
   margin-bottom: 40px;
}
.header-section h2{
    font-size: 42px;
    font-weight: 600;
    color: #101828;
}
.header-section p{
    color: #475467; 
}
.solarkits-content{
    display: flex;
    justify-content: center;
     align-items: center; 
    box-shadow: 0px 4px 30px 0px #0000000D;
    gap: 32px; 
}
.solarkits-content .item{
    width: 358.67px;
    height: 454px;
    box-shadow: 0px 4px 30px 0px #0000000D;
    display: flex;
    flex-direction: column;
}
.solarkits-content .item .main-image{
    width: 358.666px;
    height: 240px; 
}
.solarkits-content .item-desc{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 214px;
    gap: 26px;
}
.solarkits-content .item-desc h1{
    font-size: 20px;
}
 .solarkits-content .item-desc p{
    font-size: 16px;
    font-weight: 400;
    height: 72px;
    width: 318.67px;
} 
.view-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 156px;
    height: 24px;
    color:  #3CAB90;
    outline: none;
    border: none;
    font-weight: 600;
}
/* //////////////////////// repair-ove section */
.repair-over-replace-section{
    background-image: url("./Images/8116\ 1.png");
    background-size: cover;
    height: 505px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.repair-over-replace-section .content{
    max-width:858px;
    border-radius: 12px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    background-color: #00000091;
    backdrop-filter: blur(24px);
    color: #FFFFFF;
    text-align: center;
}
.repair-over-replace-section .content h1{
    font-size: 42px; 
}
/* //////////////////////////energy-innovators section*/
.energy-innovators-section{
    display: flex;
    justify-content: center;
    padding: 80px 150px 80px 150px;
    gap: 32px;
}
.energy-innovators-section .left{
    width: 358.67px;
    height: 337px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.energy-innovators-section .left .image{
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color:  #3cab8fd0;
    border: 21px solid #3CAB9026;
    display: flex;
    justify-content: center;
    align-items: center;
}
.energy-innovators-section .left .image img{
    width: 28px;
    height: 28px;
}
.energy-innovators-section .left-title{
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    line-height: 50px;
    letter-spacing: -2%;
}
.partners-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
   
}
.partners-grid .partner-card{
    width: 358.67px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid #3CAB90;
    border-radius: 12px;
    box-shadow: 0px 4px 30px 0px #0000000D;
    margin-bottom: 32px;
    background-color: #3CAB900D;
}
.partner-card  .image{
    width: 310.66668701171875px;
    height: 106px;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;

}
.partner-card .h1{
    font-size: 20px;
    font-weight: 600;
    height: 60px;
}
/* ////////////////////////company values */
.company-values .content{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.company-values .content .item{
    width: 358.67px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    border-width: 1px;
    padding: 32px;
    border: 1px solid #3CAB90;
    background-color: #3CAB900D;
    margin-top: 20px;
}
.company-values .logo{
    width: 70px;
    height: 70px;
}
/* ///////////////////testiomonials  */
.testimonial-section{
    width: 1440px; 
    padding: 80px 150px 80px 150px;
    display: flex;
   gap: 32px;
   align-items: center;
   margin: auto;
}
.testimonial-left{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.testimonial-left .img{
    width: 58.33px;
    height: 48px;  
}
.testimonial-left h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}
.testimonial-left p{
    font-size: 18px;
    font-weight: 400;
}
.testimonial-right{
    width: 708px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap:87px;
    background-color: #3CAB900F;
    border-radius: 24px;
}
.testimonial-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial-top p{
    color: #3CAB90;
    font-weight: 700;

}
.testimonial-center{
    font-size: 24px;
    font-weight: 400;
}
.testimonial-bottom{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.testimonial-bottom .person-name{
    font-weight: 700;
    color:#1C1C1C;   
}
.person-info{
    display: flex;
    align-items: center;
    gap: 5px;
}
.testimonial-bottom .arrows{
    display: flex;
    gap:16px;
}
.testimonial-bottom .arrows img{
    width: 48px;
    height: 48px;
}
/* //////////////////////footer section */
.footer-section{
    width: 100%;
    background-color: #283646;
    padding: 80px 150px 80px 150px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: 1140px;
    margin: auto;
}
.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
     align-items:flex-end;  
}
.footer-top .left{
    width: 499px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.footer-top .left .img{
    width: 185px;
    height: 64px;
    mix-blend-mode: 
    Luminosity;
}
.footer-top .left div{
    display: flex;
    width: 100%;
    gap: 36px;
    letter-spacing: 0.3px;
    color: #FFFFFF; 
    margin-top: 3px;
  
}
.footer-top .right{
    width: 408px;
    padding-left: 1px;
    padding-right: 1px;
    color: #FFFFFF;
}
.footer-top .right div{
    width:406px ;
    background-color: #283646;
    display: flex;
    border: 1px solid #B3BDC7;
    padding-left: 20px;
    text-align: center;
    border-radius: 38px;
}
.footer-top .right input{
    width: 256px;
    border: none;
    outline: none;
    background-color:#283646 ;
}
.footer-top .right button{
    width: 147px;
    border-radius: 109px;
    padding: 12px 34px 12px 34px;
    background-color: #FFBB1C;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #92989F;
}
.footer-bottom .left p{
    font-size: 16px;
    color:  #92989F; 
}
/* media query/ */
@media(max-width:1240px){
     .menu-icon{
        width: 40px;
        height: 40px;
        display:block;
    }
    nav .nav-list{
        display: none;
    }
    nav .nav-list.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    position:absolute;
    top: 86px;
    left: 0;
    right: 0; 
    background-color: #0B9586;
    height: 250px;
    padding: 10px;
    width: 100%;
    }  
     nav .nav_contact{
        display: none;
    } 
    nav .nav_contact.active{
        position: absolute;
        top:230px;
        right: 60px;
        display: block;
    }     
} 
/* // large screen */
@media(min-width:1024px) and (max-width:1350px){
    .about-section{
        width: 90%;
        gap: 40px;
    }
    .Solarkits-section{
        width: 90%;
    }
    .solarkits-content{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
        margin: auto;
    }
    .company-values .content{
        width:80%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: auto;
    }
    .testimonial-section{
        width: 95%; 
       margin: auto;
    }
    .testimonial-right{
        width: 500px;
    }
    .footer-section{
        width: 100%;
        padding: 80px 10px 80px 10px;
    }
    .footer-content{
        width: 90%;
    }
    .footer-top .left,.footer-top .right{
        width: 350px;
    }
    .footer-top .right div{
        width:100% ;
    }
}
/* ////////tablet */
@media(min-width:501px) and (max-width:1024px)
{
      /* navbar  */
    nav{
        padding: 16px 20px;
    }
    nav .nav-list.active{
        align-items: flex-start;
    }
    nav .nav_phone{
        font-size: 25px;
    }
    /* hero background  */
    .hero-container{
        margin-left: 20px;
    }
    .hero-content{
        width:500px;
        margin-top: 50px;  
    }
    .hero-title{
        font-size: 35px; 
    }
    /* about-section */
    .about-section{
        flex-direction: column;
        width: 90%;
        gap: 40px;
        align-items: center; 
    }
    .about-left,.about-right{
        width: 80%;
    }  
    
    .about-card{
        top:270px;
    } 
    .about-main-image{
        width: 420px;
    }
    /* solarkits-section */
    .Solarkits-section{
        width: 90%;
        margin: auto;  
    }
    .Solarkits-section header{
        width: 85%;
       gap:15px;
       margin-bottom: 70px;
    }
    .solarkits-content{
        flex-direction: column;
    }
    .solarkits-content .item{
        width: 350.67px;
    }
    /* cta-section*/
    .cta-section .content{
        margin-left: 15px;
        width: 500px;
    }
    .cta-section .content .title{
        font-size: 30px;
    }
    /* repair-over-replace section */
    .repair-over-replace-section{
        width: 100%;
    }
    .repair-over-replace-section .content{
        max-width:350px;
        padding: 25px;
        gap: 20px;
    }
    .repair-over-replace-section .content h1{
        font-size: 35px; 
    }
    /* energy-innovator section*/
    .energy-innovators-section{
        width: 90%;
        flex-direction: column;
        padding: 80px 10px;
        margin: auto;
        align-items: center;
    }
    .partners-grid{
        grid-template-columns: 1fr  ;  
    }
    /* company values */
    .company-values{
        width: 90%;
        margin: auto;
    }
    .company-values header{
        width: 80%;
        gap:15px;
    }
    .company-values .content{
        flex-direction: column;
        align-items: center;
    }
/* testimonials section */
    .testimonial-section{
        width: 90%; 
        flex-direction: column;
        margin: auto;
    }
    .testimonial-left{
        width: 340px;
    }
    .testimonial-right{
        width: 350px;
    }
    .testimonial-bottom .arrows img{
        width: 30px;
        height: 30px;
    }
    .testimonial-bottom{
        font-size: 14px;
    }
    .testimonial-bottom .arrows{
        gap:10px;
    }
/* footer section  */
.footer-section{
    width: 100%;
    padding: 80px 10px 80px 10px;
}
.footer-content{
    width: 90%;
    margin: auto;
}
.footer-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;    
    
}
.footer-top .left div{
   width: 450px;
    flex-wrap: wrap;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
}
/* /////mobile responsive*/
 @media(max-width:500px){
    /* navbar  */
    nav{
        padding: 16px 20px;
    }
    nav .nav-list.active{
        align-items: flex-start;
    }
    nav .nav_phone{
        font-size: 18px;
    }
    /*hero background  */
    .hero-container{
        margin-left: 15px;
    }
    .hero-content{
        width:350px;
    }
    .hero-title{
        font-size: 30px; 
    }
    .hero-buttons button{
        height: 60px;
        padding: 12px 30px 12px 30px;
    }
    /* about section  */
    .about-section{
        flex-direction: column;
        width: 90%;
        gap: 40px;
    }
    .about-left,.about-right{
        max-width: 350px;
    }
    .about-main-image{
        width: 90%;
    }
    .about-card{
        top:145px;
    }
    /* cta-section */
    .cta-section .content{
        width: 350px;
        margin-left: 20px;
    }
    /* ////solarkits section */
    .Solarkits-section{
        width: 90%;
    }
    .Solarkits-section header{
        width: 85%;
       gap:15px;
       margin-bottom: 70px;
    }
    .solarkits-content{
        flex-direction: column;
    }
     .solarkits-content .item .main-image{
        width: 350px;
        height: 240px; 
    }   
/* repair-over-replace section  */
.repair-over-replace-section .content{
    max-width:350px;
    padding: 25px;
    gap: 20px;
}
.repair-over-replace-section .content h1{
    font-size: 35px; 
}
/* ///energy-innovators section */
.energy-innovators-section{
    width: 90%;
    flex-direction: column; 
    padding: 80px 10px;
    margin: auto; 
}
.energy-innovators-section .left,.partners-grid .partner-card{
    width: 350px;
}
.partners-grid {
    grid-template-columns: 1fr;
}
/* compangy values */
.company-values{
    width: 90%;
    margin: auto;
}
.company-values header{
    width: 80%;
   gap:15px;
}
.company-values .content{
    width: 350px;
    flex-direction: column;
}
.company-values .content .item{
    width: 350px;   
}
/* ///testimonials */
.testimonial-section{
    width: 90%; 
    flex-direction: column;
   margin: auto;
}
.testimonial-left,.testimonial-right{
    width: 350px;
}
.testimonial-bottom .arrows img{
    width: 30px;
    height: 30px;
}
.testimonial-bottom{
    font-size: 14px;
}
.testimonial-bottom .arrows{
    gap:10px;
}
/* ////footer */
.footer-section{
    padding: 80px 5px 80px 5px;
}
.footer-content{
    width: 350px;
}
.footer-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items:flex-start;  
     gap: 20px;
}
.footer-top .left{
    width: 300px;
}
.footer-top .left div{
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.footer-top .right{
    width: 320px;
}

.footer-top .right div{
    width:100%;
    height: 30px;
}
.footer-top .right button{
    width: 40%;
      display: flex;
     justify-content: center;
    align-items: center;   
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
}



    
   

